<h1>{{course.name}}</h1>
<h2>Tasks</h2>
<table class="table">
    <tr>
        <td><strong>Name</strong></td>
        <td><strong>Max points</strong></td>
        <td></td>
    </tr>
    <tr ng-repeat="task in course.Tasks">
        <td>{{task.name}}</td>
        <td>{{task.maxPoints}}</td>
        <td></td>
    </tr>
    <tr>
        <td><input ng-model="newTask.name" class="form-control"></td>
        <td><input ng-model="newTask.maxPoints" class="form-control"></td>
        <td><button ng-click="addTask()" class="btn btn-primary">Add</button></td>
    </tr>
</table>

<p ng-show="errorMessage">
    {{errorMessage}}
</p>

<button ng-click="fulfilments()" class="btn btn-primary">Fulfilments</button>